.itens-Forumlario{
    color: white;
    background-color: blueviolet;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 1px rgba(41, 41, 41, 0.26);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: left;
}

.Item-formulario{
    margin: 5px;
    font-size: 1.2em;
}

.input-formulario{
    font-size: 1em;
    border-radius: 5px;
    padding: 2px;
    padding-left: 10px;
    font-weight: bold;
}

#titulo-formulario{
    margin: 12px;
}

.botao-formulario{
    margin: 20px;
    font-size: 1.5em;
    width: 200px;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    border: solid 2px black;
    cursor: pointer;
    box-shadow: 3px 3px 1px rgba(41, 41, 41, 0.26);
}


.link-formulario{
    margin-top: 10px;
    width: 230px;
    display: flex;
    flex-wrap: wrap;
}

#link-cadastro{
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

#link-cadastro:hover{
    background-color: rgb(83, 26, 136);
}

.conteiner-cadastrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: blueviolet;
    width: 60%;
    border-radius: 8px;
    padding: 8px;
    padding-bottom: 13px;
}
.conteiner-cadastrado a{
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

.conteiner-cadastrado a:hover{
    background-color: rgb(85, 27, 139);
}

#titulo-formulario2{
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

#gif{
    margin-top: 50px;
    border-radius: 10px;
}

.conteiner-logado{
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 0.8em;
}

#titulo-formulario-logado{
    background-color: rgb(74, 25, 121);
    text-align: center;
    margin-top: 10px;
    font-size: 1.7em;
}

#dados-logado{
    background-color: rgb(74, 25, 121);
    padding: 10px;
    color: white;
    border-radius:  0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
}

#deslogar{
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bolder;
    cursor: pointer;
}

#deslogar:hover{
    color: white;
    background-color: black;
}

.conteiner-nivel{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#nivel-texto{
    font-size: 1.3em;
    text-align: center;
}

#gift{
    width: 300px;
    height: 300px;
    margin: 20px;
}

#album{
    background-color: white;
    padding: 7px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
}

#album:hover{
    background-color: black;
    color: white;
}

.album{
    margin-top: 10px;
}

.conteiner-album{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.conteiner-album img{
    margin: 20px;
    width: 100px;
}