.conteiner-tarefas{
    display: flex;
    flex-direction: row;
}

.tarefas{
    height: 500px;
    margin: 2px;
    margin-top: 10px;
    border: solid 1px black;
    width: 33.33%;
    padding: 5px 0px 0px 13px;
}
.titulo-tarefas-conteiner{
    display: flex;
    flex-direction: row;
       justify-content: space-between;
    margin: 8px;
}



.item-titulo-tarefa{
    margin: 5px;
    width: 200px;
}

.tarefa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;

    background-color: rgb(137, 43, 226);
    color: white;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black
}

#planejado{
    background-color: rgba(0, 0, 255, 0.185);
}
#progresso{
    background-color: rgba(255, 255, 0, 0.219);
}
#feito{
    background-color: rgba(0, 255, 0, 0.356);
}

.input-tarefa{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#titulo-tarefa{
    width: 300px;
    border-radius: 5px;
    font-size: 1.2em;
    border: solid 2px blueviolet;
}

#descricao-tarefa{
    width: 300px;
    height: 80px;
    font-size: 1.2em;
    border-radius: 5px;
    border: solid 2px blueviolet;
}

#descricao-abbr{
    margin-right: 10px;
    text-decoration: none;
    background-color: grey;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

#botao-delete{
    background-color: blueviolet;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
}

#botao-delete:hover{
    background-color: rgb(82, 24, 136);
}
#amarelo{
    background-color: rgb(214, 214, 10);
    color: black;
}
#laranja{
    background-color: orange;
    color: black;
}
#vermelho{
    background-color: red;
}
#verde{
    background-color: green;
}
#azul{
    background-color: blue;
}
